.image_area{
  background: #ffdc7238;
  position: relative;
}

.image_area_left img {
  height:70%;
  position: absolute;
  left: 30px;
  bottom: 5px;
}

.image_area_right img {
  height:40%;
  position: absolute;
  right: 0px;
  bottom: -5px;
  float: right;
}

div#carousel {
  perspective: 3000px;
  // background: #ffdc7238;
  padding: 1% 0 0 0;
  // overflow: hidden;
  height: 75vh;
}

figure#spinner {
  transform-style: preserve-3d;
  height: 0%;
  transform-origin: 54% 40% -500px;
  transition: 1s;
}

figure#spinner .sample_img {
  width: 55%;
  height: 80%;
  max-width: 500px;
  position: absolute;
  left: 36%;
  transform-origin: 54% 50% -500px;
  outline:1px solid transparent;
}

.spinner_img img {
  height: 70vh;
  border-radius:3%;
  border: 3px solid #343a40;
  max-height: 530px;
  margin: 0 70px;
}

.spinner_img img:hover {
  transition: 0.3s ease-out;
  transform: scale(1.1, 1.1);
  border: 8px #ff7900 solid;
}

.sample_img1 { transform:rotateY(0deg); }
.sample_img2 { transform: rotateY(-45deg); }
.sample_img3 { transform: rotateY(-90deg); }
.sample_img4 { transform: rotateY(-135deg); }
.sample_img5 { transform: rotateY(-180deg); }
.sample_img6 { transform: rotateY(-225deg); }
.sample_img7 { transform: rotateY(-270deg); }
.sample_img8 { transform: rotateY(-315deg); }

div#carousel ~ span {
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0;
}

div#carousel ~ span:hover { color: #888; cursor: pointer; }

.left_arrow, .right_arrow {
  float: left;
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.left_arrow {
  float: left;
}

.right_arrow {
  float: right;
}

.left_arrow:hover, .right_arrow:hover { color: #000; }

.left_arrow:active, .right_arrow:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}

.addcolor {
  background-color: #EDBC6C;
}
