

.image_area{
  height: 20vh;
  background: #ffdc7238;
  position: relative;
  margin-bottom: 10px;
}

.image_area_left img {
  height:200%;
  position: absolute;
  left: 80px;
  bottom: -5px;
}

.image_area_right img {
  height:150%;
  position: absolute;
  right: 0px;
  bottom: -5px;
  float: right;
}

div#carousel {
  perspective: 3000px;
  background: #ffdc7238;
  padding: 1% 0 0 0;
  // overflow: hidden;
  height: 60vh;
}

figure#spinner {
  transform-style: preserve-3d;
  height: 300px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}

figure#spinner .sample_img {
  width: 28%; max-width: 500px;
  position: absolute; left: 40%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent;
}

.spinner_img img {
  height: 70vh;
}

.sample_img1 { transform:rotateY(0deg); }
.sample_img2 { transform: rotateY(-45deg); }
.sample_img3 { transform: rotateY(-90deg); }
.sample_img4 { transform: rotateY(-135deg); }
.sample_img5 { transform: rotateY(-180deg); }
.sample_img6 { transform: rotateY(-225deg); }
.sample_img7 { transform: rotateY(-270deg); }
.sample_img8 { transform: rotateY(-315deg); }

div#carousel ~ span {
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0; }

div#carousel ~ span:hover { color: #888; cursor: pointer; }

.left_arrow, .right_arrow {
  float: left;
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.left_arrow {
  float: left;
}

.right_arrow {
  float: right;
}

.left_arrow:hover, .right_arrow:hover { color: #000; }

.left_arrow:active, .right_arrow:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}

.emphasize_card {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
  transform: scale(1.1, 1.1);
}
