.background-co {
  background: url("common/bg03.jpg") left top repeat;
  min-width: 100vw;
  min-height: 70vh;
}

.top_image {
  width: 100vw;
  height: 95vh;
}

.images_holder{
  position: absolute;
}

.image_div {
  position: relative;
  overflow: hidden;
  width: 50%;
  float: left;
}

.right {
  margin-left: -100%;
}

.clear{
  clear: both;
}

@media screen and (max-width:480px){
  .img-body-co {
    overflow: hidden;
    text-align: center;
    height: 55vh;
    width: 100%;
    object-fit: contain;
    position: relative;
  }
}

.img-body-co {
  overflow: hidden;
  text-align: center;
  height: 41vh;
  width: 100%;
  object-fit: contain;
  position: relative;
}
//  ================================
.background-co .form-inline {
  padding: 10px 0 30px 0;
}

.textArea h3 {
  margin: 20px 0 10px 0;
}

.textBlock{
  padding: 15px 0px;
  width: 100%;
}

.textBlock .card {
  width: 120px;
  height: 105px;
  overflow: hidden;
}

.card-title {
  font-weight: initial;
  font-size: 13px;
}

.textBlock .card:hover .card-title{
  color: white;
}

.pro-img {
  width: 100%;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1031;
}

#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  height: 95%;
  z-index: 20;
}

// form=============================
.form-border {
  border-bottom: solid 2px orange;
  margin: 10px 0px 20px 0px;
}

.select-box01 select {
  border: 2px solid $accent-color;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 13px;
  width: 200px;
  background-color: $sub-opacity-color;
  font-weight: bold;
}

.select-box01 select:focus {
  outline-color: $accent-color;
  outline-style: auto;
  outline-width: 0px;
}

.checkbox-input{
  display: none;
}

.checkbox-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}

.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-parts{
  color: white;
  font-weight: bold;
  background-color: $accent-color;
  border-radius: 9px;
  padding: 0px 7px 0px 20px;
}

.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}
