.background-co {
  background: url("common/bg03.jpg") left top repeat;
  min-width: 100vw;
  min-height: 100vh;
}

.top_image {
  width: 100vw;
  height: 95vh;
}

// .box_container{
//   position: relative;
//   width: 100vw;
//   height: 95vh;
//   overflow: hidden;
//   background: black;
//   color: white;
// }

.images_holder{
  position: absolute;
}

.image_div {
  position: relative;
  overflow: hidden;
  width: 50%;
  float: left;
}

.right {
  margin-left: -100%;
}

.clear{
  clear:both;
}

.img-body-co {
  overflow: hidden;
  text-align: center;
  height: 41vh;
  width: 100%;
  object-fit: contain;
  position: relative;
}

//  ================================
.textArea h3 {
  margin: 20px 0 10px 0;
}

.textBlock{
  padding: 15px 0px;
  width: 100%;
}

.textBlock .card {
  width: 120px;
  height: 105px;
  overflow: hidden;
}

.card-title {
  font-weight: initial;
  font-size: 13px;
}

.textBlock .card:hover .card-title{
  color: white;
}

.pro-img {
  width: 100%;
}

#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 20;
}

#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  height: 95%;
  z-index: 20;
}
