.top_image {
  width:100vw;
  height:95vh;
}



.box_container{
  position:relative;
  width:100vw;
  height:95vh;
  overflow:hidden;
  background: black;
  color:white;
}
.images_holder{
  position:absolute;
}
.image_div {
  position:relative;
  overflow:hidden;
  width:50%;  //半分だけ見えるようにしています
  float:left; //2つの左右に並べています
}
.right {
    margin-left: -100%; //左半分を見えなくしています
}
.clear{
    clear:both;
}
