// color =================================
$base-color: #F8F9FA;
$sub-color: #EEC27B;
$accent-color: #ff7c1e;
$card-color: #fff;

$footer-color: #ff8c3a;
$logo-color:  white;
$logo-boder-color: #ffc107;
$circle-coler: #EEC27B;
$circle-base-color: white;
