// color =================================
$base-color: #F8F9FA;
$sub-color: #EEC27B;
$accent-color: #ff8c3a;
$sub-opacity-color: rgba(238,194,123,0.5);

$card-color: #fff;
$card-hover-color: $sub-color;

$footer-color: $accent-color;
$logo-color:  white;
$logo-boder-color: #ffc107;
$circle-coler: $sub-color;
$circle-base-color: white;

$link-btn-color: white;
$link-hover-color: $sub-color;
$ribbon-color: $sub-color;
