// color =================================
$base-color: #F8F9FA;
$sub-color: #EEC27B;
$accent-color: #ff8c3a;
$sub-opacity-color: rgba(238,194,123,0.5);

$slider-color: rgba(255, 252, 247, 0.95);

$card-color: #fff;
$card-hover-color: $sub-color;

$footer-color: $accent-color;
$logo-color:  white;
$logo-boder-color: #ffc107;
$circle-coler: $sub-color;
$circle-base-color: white;

$link-btn-color: white;
$link-hover-color: $sub-color;
$ribbon-color: $sub-color;

$section1-bg-color: #ffffff;
$section2-bg-color: #FFD2B0;
$section3-bg-color: #ffffff;
$section4-bg-color: #ffa446d1;
$section5-bg-color: #ffffff;
$section6-bg-color: $accent-color;

// width height ========================================
$spacer-height: 20vw;
