// トップ画像=============================================
.main_image {
  position: relative;
  width: 100%;
  height: 500px;
  background: white url("top/main_image_bg.png") left 2px repeat-x
}

#slideshow a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0
}

.main_image>.inner .text_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

nav.top_global_nav {
  margin: 35px 20px;
}

#slideshow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

#slideshow img {
  position: absolute;
  top: 0;
  left:0;
  z-index: 8;
  width: 100%;
  opacity: 0.0;
}

#slideshow img.active {
  opacity: 1;
  position: absolute;
  top: 0;
  left:0;
  z-index: 10;
}

#slideshow img.active::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px gray;
}

#slideshow img.last-active {
  z-index: 9;
}

// ca-menuの表側の円の設定============================================
.ca-menu {
  margin: auto;
  display: table;
}

.ca-menu li {
  width: 230px;
  height: 230px;
  border: 2px solid $sub-color;
  position: relative;
  float: left;
  background-color: #fff;
  margin-left:-48px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 125px;
  transition: all 400ms linear;
}

.ca-menu li a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  color: #333;
  position: relative;
  z-index: 6;
}

.ca-icon {
  font-family: 'WebSymbolsRegular', cursive;
  font-size: 40px;
  line-height: 60px;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 30px;
  color: $sub-color;
  text-align: center;
  transition: all 400ms linear;
}

.ca-main {
  font-size: 24px;
  position: absolute;
  top: 110px;
  height: 80px;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  text-align: center;
}

.ca-main2 {
  display: none;
}

.self-introduction {
  background-image: url("common/profile.jpg");
  background-size: contain;
  border-radius: 50%;
}

.ca-sub2 {
  position: absolute;
  top: -15px;
  left: 0px;
  font-weight: bold;
  font-size: 25px;
  animation: fadeIn 0.8s ease 0s 1 normal;
}

.ca-sub {
  position: absolute;
  top: -15px;
  left: 0px;
  font-weight: bold;
  display: none;
  font-size: 25px;
  animation: fadeIn 0.8s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.ca-menu li:hover {
  border: 20px solid $accent-color;
  z-index: 5;
  transform: scale(1.1);
}

.ca-menu li:hover .ca-icon {
  color: #000;
  font-size: 60px;
  color: $accent-color;
  text-shadow: 0px 0px 1px #000;
  -webkit-animation: moveFromBottom 300ms ease;
  -moz-animation: moveFromBottom 300ms ease;
  -ms-animation: moveFromBottom 300ms ease;
  font-size: 6em;
}

.ca-menu li:hover .ca-sub {
  display: block;
}

.ca-menu li:hover .ca-main {
  display: none;
}

.ca-menu li:hover .circle {
  display: none;
  opacity: 0;
}

.ca-menu li:hover .ca-main2 {
  display: block;
  font-size: 40px;
  line-height: 100%;
  position: absolute;
  top: 125px;
  height: 80px;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  opacity: 0.8;
  text-align: center;
  color: #000;
  -webkit-animation: moveFromBottom 500ms
}
// ぴょこっと出るicon================================
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

@-moz-keyframes moveFromBottom {
  from {
  -moz-transform: translateY(200%) scale(0.5);
  opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
// ca-menuの裏側の円の設定ーーーーーーーーーーーーーーーー
.circle {
  position: absolute;
  top: -3%;
  left: -3%;
  width: 240px;
  height: 240px;
  background: $circle-coler;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  z-index: -3;
  transition: all 400ms linear;
  animation: loading 10s infinite;
}

.circle .circle-inner {
  position: absolute;
  top: 4%;
  left: 4%;
  width: 220px;
  height: 220px;
  background: url("top/texture_2.jpg") left top repeat;
  border-radius: 50%;
}
// 円形プログレスバー用ーーーーーーーーーーーーー
// .circle::before {
  //   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: -125px;
//   width: 250px;
//   height: 250px;
//   background: $circle-base-color;
//   transform-origin: right 125px;
//   z-index: -2;
//   animation: rotate-circle-left 0.5s linear forwards;
// }
// .circle::after {
  //   content: "";
//   display: block;
//   position: absolute;
//   top: 0px;
//   left: 125px;
//   width: 250px;
//   height: 250px;
//   background: $circle-base-color;
//   transform-origin: left 125px;
//   z-index: -1;
//   animation: rotate-circle-right 0.5s linear forwards;
// }
// @keyframes rotate-circle-right {
  //   0%   {
//       transform: rotate(0deg);
//       background: $circle-base-color;
//   }
//   50%  {
//       transform: rotate(180deg);
//       background: $circle-base-color;
//   }
//   50.01% {
//       transform: rotate(360deg);
//       background: $circle-coler;
//   }
//   100% {
//     transform: rotate(360deg);
//     background: $circle-coler;
//   }
// }
// @keyframes rotate-circle-left {
//   0%   { transform: rotate(0deg); }
//   50%  { transform: rotate(0deg); }
//   100% { transform: rotate(180deg); }
// }
// 波紋ーーーーーーーーーーーーーーーーー
@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
// main_banner 子供が入店=================
.main_banner {
  position: absolute;
  left: 30px;
  top: 215px;
  width: 245px;
  height: 245px;
  z-index: 12;
  background: white;
  border-radius: 115px;
  box-shadow: 5px 5px 5px $sub-color;
}

.main_banner > div,
.main_banner > div > a {
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 65px;
}

.restaurant {
  background: url("top/restaurant.png") left top no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
}

.restaurant span {
  border-radius: 65px;
  position: absolute;
  width: 250px;
  height: 250px;
  display: block;
  top: 0;
  opacity: 0;
  left: 0;
}

.right-door {
  transform: rotateY(-90deg);
  transform-origin: 0 0;
  clip: rect(0, 125px, 9999px, 0);
  transition: all 0.5s ease-out 0.5s;
  background: url("top/left-door.png") left top repeat;
  background-size: contain;
}

.left-door {
  transition: all 0.5s ease-out 0.5s;
  transform-origin: 100% 100%;
  transform: rotateY(90deg);
  clip: rect(0, 9999px, 9999px, 125px);
  background: url("top/right-door.png") left top repeat;
  background-size: contain;
}

.restaurant:hover .left-door,
.restaurant:hover .right-door {
  opacity: 1;
  transform: rotateY(0);
}

.restaurant:hover .restaurant-first {
  transition: all 0.5s ease-out;
  opacity: 1;
  z-index: 1;
  background: url("top/friends_kids-2.png") right bottom no-repeat;
  z-index: 3;
}

.restaurant-last {
  transition: none;
  background: url("top/restaurant2.jpg") left top no-repeat;
  background-size: cover;
}

.restaurant:hover .restaurant-last {
  transition: all 0.4s ease-out 1.0s;
  opacity: 1;
  z-index: 2;
}
