@import "definition";
// 画像をスクロールでフェードイン=======================

.fadein {
  opacity: 0;
  transform: translate(0, -150px);
  transition: all 1500ms;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

// 製造フロー =======================
.cooking-recipe-area {
  overflow: hidden;
  background: image-url("introduction/background-image-large.png");
  background-size: cover;
}

.flow-box {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flow-image {
  cursor: pointer;
  transition: all 500ms;
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
  box-shadow: 0px 0px 20px 1px white;

  &:hover {
    transform: translate(-3px, -6px);
    box-shadow: 10px 10px 20px 1px #333;
  }
}
.small-flow-image {
  max-width: 100px;
  max-height: 100px;
  margin: 15px;
}
// 画像グレー表示======================
#flow-gray-display {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 40;
}
#flow-gray-display .flow-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}
// ホバーした時の下線
.link-border {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.link-border::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ff8c3a;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.link-border:hover::after {
  transform: scale(1, 1);
}
