// .balloon3-top {
//   position: relative;
//   display: inline-block;
//   padding: 6px 0px 0 13px;
//   width: 144px;
//   height: 105px;
//   line-height: 90px;
//   text-align: center;
//   color: #FFF;
//   font-size: 23px;
//   font-weight: bold;
//   background: $sub-color;
//   border-radius: 50%;
//   box-sizing: border-box;
// }

// .balloon3-top:before {
//   content: "";
//   position: absolute;
//   top: -25px;
//   left: 50%;
//   margin-left: -15px;
//   border: 15px solid transparent;
//   border-bottom: 15px solid $sub-color;
//   z-index: 0;
// }
