@import "definition";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import "bootstrap/scss/bootstrap";
@import "common";
@import "products";
@import "cookings";
@import "cooking_categories";
@import "homes";
@import "users";
@import "introductions";

/*
*= require_tree
*= require_self
*/

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
