/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "products";
@import "cookings";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import "cooking_categories";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* flash ================================ */

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.alert {
  padding: 7.5px;
  border: 1px solid transparent;
}
/* 全体 ================================ */
p {
  margin-bottom: 0;
}

.left {
  margin-right: auto;
  text-align:left;
}

.right {
  margin-left: auto;
  text-align:right;
}

.inline-block_test {
  display: inline-block;
  padding: 0px 0px 0px 11px;
}

.title {
  text-align: center;
}
/* body ================================ */
body {
  padding-top: 53px;
}

.container {
  max-width: 1300px;
}

h1 {
  padding-top: 5px;
}

.input_form{
  width: 650px;
  margin: auto;
}

/* ボタン ================================ */

.btn-custom {
  margin-left: 9px;
}

.btn-primary-costom {
  color: initial;
  background: ghostwhite;
  border-color: lemonchiffon;
  border: solid 1px indianred;
}

.col-xs-6.col-sm-4.col-md-2 {
  padding: 5px;
}

/* ヘッダー ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: brown;
}

.navbar {
  padding: 2px 10px;
}

.header-logo {
  float: left;
  width: 130px;
  height: 40px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

.mb-5,
.my-5 {
  margin-bottom: 0rem !important;
}
/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* alert ================================ */
.alert {
  margin-bottom: 0px;
}

/* show ================================ */
.img_custom img{
  max-width: 1300px;
  max-height: 1300px;
}
