@import "definition";

/*
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import "bootstrap/scss/bootstrap";
@import "products";
@import "cookings";
@import "cooking_categories";
@import "homes";
// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}
/* flash ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.alert {
  width: 100%;
  padding: 15.5px;
  font-size: 18px;
  text-align: center;
  border: 1px solid transparent;
}

.close {
  line-height: 0.5;
}
/* 全体 ================================ */
p {
  margin-bottom: 0;
}

a {
  color: black;
}

ol, ul {
  list-style: none
}

a:hover, a:active {
  color: #333;
  text-decoration: none
}

sub {
  font-size: 9px;
  font-size: .5625rem;
  letter-spacing: 0;
  line-height: 0
}

strong, .bold {
  font-weight: bold;
  font-style: normal
}

.left {
  margin-right: auto;
  text-align:left;
}

.right {
  margin-left: auto;
  text-align:right;
}

.inline-block_test {
  display: inline-block;
  padding: 0px 0px 0px 11px;
}

.title {
  text-align: center;
}

// 未実装を表す文字の取り消し線用
.unimplement {
  text-decoration: line-through;
}
/* body ================================ */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #333;
  font-size: 12px;
  font-size: .75rem;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 2px;
  background: url("top/texture_2.jpg") left top repeat;
}

.container {
  max-width: 1300px;
}

h1 {
  padding-top: 5px;
}

.input_form{
  width: 650px;
  margin: auto;
}

/* btn================================ */

.btn-custom {
  margin-left: 9px;
}

.btn-primary-costom {
  color: initial;
  background: ghostwhite;
  border-color: lemonchiffon;
  border: solid 1px indianred;
}

.col-xs-6.col-sm-4.col-md-2 {
  padding: 5px;
}

.my-btn-warning:hover {
  background-color: $accent-color;
  color: white;
}
/* header ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: brown;
}

.my-navbar {
  padding: 0 10% 0 5%;
}

.header-logo {
  float: left;
  width: 105px;
  height: 105px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.nav-submenus {
  margin: 0;
  display: flex;
  float: right;
  height: 39px;
}

.functions {
  float: right;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  max-width: 1800px;
}

.functions li {
  display: table-cell;
  width: 90px;
}

.functions li a {
  overflow: hidden;
  position: relative;
  display: block;
  margin: 2px;
  font-size: 80%;
  line-height: 0.9;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}

.my-subnavbar {
  flex-direction: column;
}

.nav-btn {
  font-size: 23px;
  font-weight: bolder;
  color: $sub-color;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.my-navbtn {
  width: 120px !important;
  font-size: 15px;
  margin-left: 5px;
}

.nav-item {
  width: 70px !important;
  font-size: 15px;
  margin-left: 5px;
}

.nav-icon {
  color: $sub-color;
  font-size: 25px;
}

.nav-text {
  font-size: 15px;
  font-weight: initial;
  line-height: 2;
}

.nav-subtext {
  display: none;
}

.functions li:hover .nav-subtext {
  display: block;
  line-height: 1.7;
}

.functions li:hover {
  color: $sub-color;
}

.functions li:hover .nav-text {
  display: none;
}

.catch-copy {
  font-size: 21px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-family: 'arial unicode ms','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}
/* alert ================================ */
.alert {
  margin-bottom: 0px;
}

/* show ================================ */
.img_custom img{
  max-width: 1300px;
  max-height: 1300px;
}
